@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

.container_max_width {
  width: 100%;
  max-width: 1194px;
  margin: 0 auto;
  padding: 10px;
}

.larger_screen_nav {
  display: block;
}

.small_screen_nav {
  display: none;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

ul li {
  margin-right: 15px;
  font-size: 20px;
  cursor: pointer;
}

.icon {
  font-size: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

main {
  display: block;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.blog {
  width: 100%;
  max-width: 582px;
}

.blog > h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 52px;
  line-height: 70px;
  color: #3a3a3a;
}

.blog-img img {
  width: 100%;
  height: 100%;
  max-width: 410px;
  max-height: 414px;
  background-color: lightpink;
  border-radius: 1000px;
  object-fit: cover;
}

.button {
  color: white;
  padding: 15px;
  background-color: #e02c6d;
  border: none;
  border-radius: 25px;
  width: 250px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-top: 16.1px;
}

.button:hover {
  width: 270px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 40px;
}

.arrow-icon {
  margin-left: 20px;
}

.heading-one {
  margin-top: 30px;
  font-size: 50px;
  text-align: center;
}

.span {
  color: palevioletred;
}

.partners_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 1.5px solid rgba(192, 204, 218, 0.3);
  min-height: 110px;
  margin-top: 69px;
  margin-bottom: 100px;
}

.partners_container img {
    width: 100%;
    height: auto;
    max-width: 100px;
    margin:25px;
    object-fit: cover;
}

.card-part {
  /* width: 450px; */
  width: 100vw;
  max-width: 329px;
  /* border: 3px solid gray; */
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 20px;
}

.card-part > h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  font-feature-settings: "liga" off;
  color: #18191f;
  margin: 0;
  margin-top: 16px;
}

.card-part > h3 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  color: rgba(0, 0, 0, 0.87);
  margin: 0;
  margin-top: 6px;
}

#card_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cards_section {
  max-width: 1047px;
  margin: auto;
}

.card {
  margin: 10px;
}

.card_image {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.ratings {
  display: flex;
  align-items: center;
  height: 32px;
}

.star-icon {
  width: 16px;
  height: 16px;
  margin-left: 3px;
  color: #fb8200;
}

.rating_number {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1px;
  color: #5e6366;
  margin-left: 8px;
}

.card_description {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.018em;
  color: #787885;
}

.see_more_button {
  border: none;
  font-family: "Poppins", sans-serif;
  background: transparent;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: rgba(224, 44, 109, 0.87);
  display: block;
  margin-left: auto;
  margin-top: 50px;
  cursor: pointer;
}

.contact_us{
  text-align: center;
  line-height: 60px;
  font-size: 40px;
}

.contact_us_span{
  color: lightpink;
}

.contact_us a {
  text-decoration: none;
  color: black;
}

.contact_us a:hover {
  color: lightpink;
}

.box-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box{
  width: 450px;
  height: 400px;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px 5px gray;
  padding: 20px;
  border-radius: 15px;
  font-size: 27px;
  margin: 30px;
}

.box:hover {
  background-color: lightpink;
  color: white;
  cursor: pointer;
  transition: all .5s ease;
}

.box-heading{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.box_paragraph {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.box_icon {
  display: flex;
  justify-content: center;
  font-size: 35px;
}

.form_container {
  width: 100%;
  height: 500px;
  border-radius: 9px;
  margin: 0 2.5px 30px;
  padding: 30px 30px;
  background: whitesmoke;
}

.heading_four{
  font-size: 25px;
  text-align: center;
}

.e_mail {
  margin-right: 30px;
}
.form_input{
  width: 550px;
  height: 55px;
  border-radius: 8px;
  margin-left: 20px;
}
.form_input_group{
  display: flex; 
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.email_input{
  margin-left: 40px;
}

.submit_button{
  width: 200px;
  height: 50px;
  padding: 15px;
  font-size: 15px;
  border: none;
  background: #e02c6d;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.message_icon{
  margin-right: 14px;
}

.submit_button:hover {
  cursor: pointer;
  color: #ffffff;
  width: 250px;
  transition: all .5s ease-in-out;
  font-size: 20px;
}
footer {
  width: 100%;
  height: 300px;
  background-color: #0a0826;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_container {
  width: 262px;
  height: 139px;
  text-align: center;
}

.footer_container_content {
  width: 100%;
}

footer h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  font-feature-settings: "liga" off;
  color: #ffffff;
  margin: 0;
  margin-bottom: 3px;
}

.copyright_text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  font-feature-settings: "liga" off;
  color: #d9dbe1;
  margin: 0;
  margin-bottom: 3px;
}

.social_icons_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.icon_div {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon {
  color: #ffffff;
  width: 17.07px;
  height: 17.04px;
}

@media only screen and (max-width: 570px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .blog {
    order: 1;
    max-width: 100%;
  }

  .blog > h1 {
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    margin-top: 14px;
  }
  .blog > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    font-feature-settings: "liga" off;
    color: #3a3a3a;
  }

  .blog-img img {
    order: 2;
    max-width: 100%;
  }

  .button {
    margin: 0 auto;
    margin-top: 16.1px;
  }

  .heading-one {
    font-size: 16px;
  }

  .card-part > h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    font-feature-settings: "liga" off;
    color: #18191f;
  }

  .card-part > h3 {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.87);
  }

  .influencer-products h2 {
    font-size: 16px;
    line-height: 24px;
  }

  .small_screen_nav .icon {
    margin-right: 0;
  }

  .partners_container img {
      max-width: 80px;
    margin:15px;
}

.box-container{
  width: 100%;
} 
.form_container {
  width: 100%;
}
}

@media only screen and (max-width: 767px) {
  .larger_screen_nav {
    display: none;
  }

  .small_screen_nav {
    display: block;
  }
}
